@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'VietnamPro';
    overflow-x: hidden;
}

@font-face {
    font-family: 'VietnamPro';
    src: url('../public/font/BeVietnamPro-Regular.ttf');
}

#box {
    box-shadow: 10px 150px 166px 143px rgba(45,49,77,0.75);
    -webkit-box-shadow: 10px 150px 166px 143px rgba(45,49,77,0.75);
    -moz-box-shadow: 10px 150px 166px 143px rgba(45,49,77,0.75);
}