@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'VietnamPro';
    overflow-x: hidden;
}

@font-face {
    font-family: 'VietnamPro';
    src: url('../public/font/BeVietnamPro-Regular.ttf');
}